body{
  
  background-color: #0a0a23;
  position: relative;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  
}
*{
  margin: 0;
  padding: 0;
}
.base-contianer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

}

.contianer{
  width: min(100vw,320px);
  background-color: white;
  border-radius: 20px;
  font-size: 12px;
  padding: 20px;
  box-shadow:  0px 5px 5px 0px #002ead;  
  margin-top: 20px; 
}
label{
  color: #0a0a23;
}

.question{
 
  color: white;
  font-weight: bold;
  font-size: 34px;
  
}
#check-btn{
  margin-top: 8px;
  background-color:#5a01a7 ;
  color: white;
  border-radius: 13px;
 padding: 8px 20px;
  border: none;
  font-size: 10px;
  margin-left: 4px;
  margin-top: 25px;
  cursor: pointer;

}
#text-input{
  border: none;
  border-bottom: 1.5px solid #5a01a7;
  padding: 5px;
  text-align: center;
  margin-top: 25px;
  width: max(200px,70px);

}
.text-p{
  background-color: #00471b;
  color: white;
  margin-top: 25px;
  border-radius: 15px;
  padding: 20px;
  width: min(100vw,370px);
  box-sizing: border-box;
  /* vertical-align: middle; */

}
span{
  font-style: italic;

}
#result{
  margin-top: 10px;
  margin-bottom: 8px;
  font-size: 18px;
  box-sizing: border-box;

}
